h1{
    font-family: sans-serif;
    color: blue;
}

h2{
    color: chartreuse;
}

li{
    font-family: monospace;
    color: blueviolet;
}

body{
    width: 50%;
    margin: auto;
    background-color: lightgoldenrodyellow;
}